<link href="{{ 'foamee.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">





<div id="lp-foamee">

    <div class="l-kv">
        <div class="l-kv__in">
            <div class="l-kv__in__content">
            <div>
                <h1 class="e-logo"><img src="{{ 'foamee-kv-logo-01.webp' | asset_url }}" alt="Foamee"></h1>
                {{ section.settings.kv_copy }}
                {% comment %} <p>
                    安心の天然素材で<br>
                    クリーミーな泡立ちを
                </p> {% endcomment %}
                <img class="e-img" src="{{ 'foamee-kv-img-01.webp' | asset_url }}" alt="Foamee 商品写真">
            </div>
            </div>
            <div class="l-kv__in__img">
                <img src="{{ 'foamee-kv-img-02.webp' | asset_url }}" alt="Foamee カクテルイメージ">
            </div>
        </div>
        <div class="l-kv__deco"><img src="{{ 'foamee-kv-text-01.webp' | asset_url }}" alt="FoameeFoamee"></div>
    </div>



    <section class="section-01">
        <div class="section-01__in">
            <div class="section-01__in__content">
                <div class="e-heading">
                    <h2><span>About Foamee</span></h2>
                    <div>Foameeについて</div>
                </div>
                {{ section.settings.about_text }}
                {% comment %} <p>
                    Foameeは、天然素材100%で作られた、カクテル用の泡を簡単に作れる革新的なアイテムです。卵白を使わずに、軽やかでなめらかな泡を瞬時に作ることができ、プロのバーテンダーやホームパーティーを格上げしたい方に最適です。<br>
                    Foameeがあれば、家でもプロ顔負けのカクテルが楽しめます。手軽に、そして美しく泡立つFoameeで、特別な一杯を演出してみませんか？
                </p> {% endcomment %}
            </div>
            <div class="section-01__in__img"><img src="{{ section.settings.about_img | img_url: 'master' }}" alt="Foamee カクテル用の泡イメージ"></div>
        </div>
        <div class="section-01__button"><a href="{{ section.settings.about_url }}">購入はこちら<img src="{{ 'foamee-cmn-icon-01.svg' | asset_url }}" alt=""></a></div>
    </section>



    <section class="section-02">
        <div class="section-02__in">
            <div class="e-heading-01">
                {{ section.settings.createbetterfoam_heading }}
                {% comment %} <h2>Createbetterfoam</h2> {% endcomment %}
            </div>
            <div class="e-heading-02">
                <h3><span>How to</span></h3>
                <div>Foameeの使い方</div>
            </div>

            {{ section.settings.createbetterfoam_howto }}
{% comment %}
<div class="e-howto-wrap">
    <div class="e-howto">
        <dl>
            <dt class="e-img"><img src="{{ 'foamee-section-02-img-01.webp' | asset_url }}" alt="Foameeの使い方 イメージ1"></dt>
            <dd class="e-text">
                Foamee を 3 ～ 4 滴、他の材料と氷と一緒にシェイカーに加えます。
            </dd>
            <dd class="e-number">1</dd>
        </dl>
        <dl>
            <dt class="e-img"><img src="{{ 'foamee-section-02-img-02.webp' | asset_url }}" alt="Foameeの使い方 イメージ2"></dt>
            <dd class="e-text">
            25 ～ 30 秒間激しくシェイクし、 氷を濾します。
            </dd>
            <dd class="e-number">2</dd>
        </dl>
        <dl>
            <dt class="e-img"><img src="{{ 'foamee-section-02-img-03.webp' | asset_url }}" alt="Foameeの使い方 イメージ3"></dt>
            <dd class="e-text">
            もう一度シェイクすると、より安定した泡が得られます。
            </dd>
            <dd class="e-number">3</dd>
        </dl>
    </div>
</div>
{% endcomment %}

            <div class="section-02__video">
                <div class="section-02__video__in">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ section.settings.createbetterfoam_video.id }}?si=JXMrvUtqnSfVpRRA&rel=0&loop=1&playlist={{ section.settings.createbetterfoam_video.id }}&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    {% comment %} <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Av0KnnBJ4QM?si=JXMrvUtqnSfVpRRA&rel=0&loop=1&playlist=Av0KnnBJ4QM&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> {% endcomment %}
                </div>
            </div>

            <div class="section-02__button"><a href="{{ section.settings.createbetterfoam_url }}">購入はこちら<img src="{{ 'foamee-cmn-icon-01.svg' | asset_url }}" alt=""></a></div>
        </div>
    </section>



    <section class="section-03">
        <div class="section-03__heading-01">
            {{ section.settings.recipe_heading }}
            {% comment %} <h2>Recipe</h2> {% endcomment %}
        </div>
        <div class="section-03__in">
            {{ section.settings.recipe_recipe }}
{% comment %}
<div class="section-03__recipe__wrap">
    <div class="section-03__recipe">
        <div>
            <div class="e-content">
                <h3 class="m-name-en">Whiskey Sour</h3>
                <div class="m-name-ja">ウイスキーサワー</div>
                <ul class="m-material">
                    <li>
                        <div class="s-item">ウイスキー</div>
                        <div class="s-amount"><span>60ml</span></div>
                    </li>
                    <li>
                        <div class="s-item">レモンジュース</div>
                        <div class="s-amount"><span>20ml</span></div>
                    </li>
                    <li>
                        <div class="s-item">シンプルシロップ</div>
                        <div class="s-amount"><span>20ml</span></div>
                    </li>
                    <li>
                        <div class="s-item">foamee</div>
                        <div class="s-amount"><span>5滴</span></div>
                    </li>
                </ul>
            </div>
            <div class="e-img"><img src="{{ 'foamee-section-03-img-01.webp' | asset_url }}" alt="Whiskey Sour ウイスキーサワー イメージ"></div>
        </div>

        <div>
            <div class="e-content">
                <h3 class="m-name-en">Pisco Sour</h3>
                <div class="m-name-ja">ピスコサワー</div>
                <ul class="m-material">
                    <li>
                        <div class="s-item">ピスコ</div>
                        <div class="s-amount"><span>60ml</span></div>
                    </li>
                    <li>
                        <div class="s-item">ライムジュース</div>
                        <div class="s-amount"><span>20ml</span></div>
                    </li>
                    <li>
                        <div class="s-item">シンプルシロップ</div>
                        <div class="s-amount"><span>20ml</span></div>
                    </li>
                    <li>
                        <div class="s-item">foamee</div>
                        <div class="s-amount"><span>5滴</span></div>
                    </li>
                </ul>
            </div>
            <div class="e-img"><img src="{{ 'foamee-section-03-img-02.webp' | asset_url }}" alt="Pisco Sour ピスコサワー イメージ"></div>
        </div>

        <div>
            <div class="e-content">
                <h3 class="m-name-en">Ramos Gin Fizz</h3>
                <div class="m-name-ja">ラモスジンフィズ</div>
                <ul class="m-material">
                    <li>
                        <div class="s-item">ドライジン</div>
                        <div class="s-amount"><span>60ml</span></div>
                    </li>
                    <li>
                        <div class="s-item">レモンジュース</div>
                        <div class="s-amount"><span>15ml</span></div>
                    </li>
                    <li>
                        <div class="s-item">生クリーム</div>
                        <div class="s-amount"><span>15ml</span></div>
                    </li>
                    <li>
                        <div class="s-item">シンプルシロップ</div>
                        <div class="s-amount"><span>20ml</span></div>
                    </li>
                    <li>
                        <div class="s-item">オレンジビターズ</div>
                        <div class="s-amount"><span>4滴</span></div>
                    </li>
                    <li>
                        <div class="s-item">foamee</div>
                        <div class="s-amount"><span>5滴</span></div>
                    </li>
                    <li>
                        <div class="s-item">ソーダ</div>
                        <div class="s-amount"><span>適量</span></div>
                    </li>
                </ul>
            </div>
            <div class="e-img"><img src="{{ 'foamee-section-03-img-03.webp' | asset_url }}" alt="Ramos Gin Fizz ラモスジンフィズ イメージ"></div>
        </div>
    </div>
</div>
<p class="section-03__text">※foameeの使用量はカクテルレシピによって変わります</p>
{% endcomment %}

            <div class="section-03__heading-02">
                {{ section.settings.recipe-reator_heading }}
                {% comment %} <h3>Recipe Creator</h3> {% endcomment %}
            </div>
            {{ section.settings.recipe-reator_content }}
{% comment %}
<div class="section-03__creator">
    <div class="e-content">
        <h3 class="m-name-en">hiroyuki nishizaki</h3>
        <div class="m-name-ja">西崎 宏幸</div>
        <p class="m-text">
            那覇市久茂地 2 丁目にある Bar stir laboratory オーナーバーテンダー。
        </p>
        <p class="m-text">
            BAR の魅力を、1 人でも多くの方に届けたいと SNS マーケティングに注力。カクテル大会にて受賞歴多数。沖縄県内企業との商品開発に携わる。
        </p>
        <p class="m-text">
            ■第21回泡盛カクテルコンペティション【マリーブリザール賞】受賞<br>
            ■第25回泡盛カクテルコンペティション<br>
            【沖縄県酒造組合会長賞】受賞<br>
            ■第23回オキナワカクテルコンペティション<br>
            【総合3位アサヒビール株式会社賞】受賞
        </p>
    </div>
    <div class="e-img">
        <picture class="swiper-slide-media">
            <source srcset="{{ 'foamee-section-03-img-04-sp.webp' | asset_url }}" media="(max-width: 764px)">
            <img src="{{ 'foamee-section-03-img-04.webp' | asset_url }}" alt="Recipe Creator hiroyuki nishizaki 西崎 宏幸">
        </picture>
    </div>
</div>
{% endcomment %}

            <div class="section-03__button"><a href="{{ section.settings.recipe-reator_url }}">購入はこちら<img src="{{ 'foamee-cmn-icon-01.svg' | asset_url }}" alt=""></a></div>
        </div>
    </section>



    <section class="section-04">
        <div class="section-04__in">
            <div class="section-04__heading">
                {{ section.settings.faq_heading }}
                {% comment %} <h2>Faq</h2> {% endcomment %}
            </div>

            {{ section.settings.faq_content }}
{% comment %}
<div class="section-04__faq">
    <dl>
        <dt class="e-q"><span>Q</span>Foameeとは何ですか？</dt>
        <dd class="e-a">
            Foameeは、濃厚でクリーミーな泡を長持ちさせるためのソースやカクテルに使用するための食品添加物です。天然のエキスが素材で、アルコール 0%、非遺伝子組み換え、グルテンやピーナッツも不使用です。卵白、大豆レシチン、その他の泡立て剤は使用していませんのでビーガン向けのレシピにもご利用いただけます。
        </dd>
    </dl>
    <dl>
        <dt class="e-q"><span>Q</span>エッグホワイトが苦手なのですが、使用できますか？</dt>
        <dd class="e-a">
            はい、Foameeは植物由来の材料を使用しているため、エッグホワイトを使用せずに泡を作ることが可能です。
        </dd>
    </dl>
    <dl>
        <dt class="e-q"><span>Q</span>安全性は問題ありませんか？</dt>
        <dd class="e-a">
            Foameeは天然のエキスが素材で、アルコール0％、ビーガン、非遺伝子組み換え、グルテンやピーナッツも不使用です。卵白、大豆レシチン、その他の泡立て剤は使用していません。<br>
            サルモネラ菌も含まれておらず、現場での低温殺菌の必要もありません。<br>
            清潔な作業環境が実現できて、人の手による材料への接触を最小限に抑えることが出来ます。<br>
            ＊Foameeは低温殺菌された後に瓶詰めされています。<br>
            ＊Foameeはピポットスポイト付きのガラス瓶に保存されています。
        </dd>
    </dl>
    <dl>
        <dt class="e-q"><span>Q</span>コストパフォーマンスが良いですか？</dt>
        <dd class="e-a">
            100mlボトル1本で、2500滴分。約625杯以上のカクテルが作れます。<br>
            1杯のカクテルに1滴から最大4 滴まで使用できます。<br>
            カクテル1杯あたりの値段は卵白や他の泡立て器よりもお得。時は金なり。手間のかかるふわふわな泡カクテルをよりスピーディーに作れます。<br>
            余計な包装も小袋もなし＝無駄を省いて見栄えの良さだけを重視しました。
        </dd>
    </dl>
    <dl>
        <dt class="e-q"><span>Q</span>保存方法を教えてください</dt>
        <dd class="e-a">
            未開封の状態で室温25度で2年間保存できます。<br>
            開封後は冷蔵保存で6ヶ月以内にご利用ください。
        </dd>
    </dl>
</div>
{% endcomment %}

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const faqItems = document.querySelectorAll('.section-04__faq dt');

                    faqItems.forEach(item => {
                        item.addEventListener('click', function() {
                            // 現在のアイテムのddを取得
                            const answer = this.nextElementSibling;

                            // activeクラスのトグル
                            this.classList.toggle('active');

                            // スライドトグル的な動作
                            if (answer.style.display === 'block') {
                                answer.style.display = 'none';
                            } else {
                                answer.style.display = 'block';
                            }
                        });
                    });
                });
            </script>
        </div>
    </section>



    <section class="section-05" id="shopNnow">
        <div class="section-05__in">
            <div class="section-05__heading">
                {{ section.settings.shop-now_heading }}
                {% comment %} <h2>Shop now</h2> {% endcomment %}
            </div>

            <div class="section-05__content">
                {% assign product = section.settings.shop-now_product %}
                <div class="e-img"><img src="{{ product.featured_image | img_url: 'master' }}" alt="Foamee 商品写真"></div>
                <div class="e-content">
                    <dl class="m-name">
                        <dt>{{ product.title }}</dt>
                        <dd>¥{{ product.price | money_without_currency }}<span>（税込）</span></dd>
                    </dl>
                    <p class="m-text">
                        {{ product.description }}
                    </p>
                    <ul class="m-button">
                        <li class="s-button-01"><a href="{{ section.settings.shop-now_url-01 }}">商品ページを見る</a></li>
                        <li class="s-button-02"><a href="{{ section.settings.shop-now_url-02 }}">カートに入れる</a></li>
                    </ul>
                </div>
                {% comment %} <div class="e-img"><img src="{{ 'foamee-section-05-img-01.webp' | asset_url }}" alt="Foamee 商品写真"></div>
                <div class="e-content">
                    <dl class="m-name">
                        <dt>Foamee</dt>
                        <dd>¥3000<span>（税込）</span></dd>
                    </dl>
                    <p class="m-text">
                        詳しい商品説明がはいります詳しい商品説明がはいります詳しい商品説明がはいります詳しい商品説明がはいります詳しい商品説明がはいります詳しい商品説明がはいります
                    </p>
                    <ul class="m-button">
                        <li class="s-button-01"><a href="">商品ページを見る</a></li>
                        <li class="s-button-02"><a href="">カートに入れる</a></li>
                    </ul>
                </div> {% endcomment %}
            </div>
        </div>
    </section>



    <section class="section-06">
        <div class="section-06__in">
            <div class="section-06__heading">
                {{ section.settings.contact_heading }}
                {% comment %} <h2>Contact</h2> {% endcomment %}
            </div>
            {{ section.settings.contact_text }}
{% comment %}
<p class="section-06__text">
    この製品に関する詳細情報やお取り扱いについての<br class="sp">ご相談をご希望の場合は、<br>
    お気軽にお問い合わせください。<br>
    専門スタッフが丁寧に対応いたします。
</p>
{% endcomment %}
            <div class="section-06__button"><a href="{{ section.settings.contact_url }}">この商品へのお問い合わせ</a></div>
        </div>
    </section>

</div>





{% schema %}
{
  "name": "foamee",
  "settings": [
    {
        "type": "richtext",
        "id": "kv_copy",
        "label": "KV キャッチコピー",
        "default": "<p>キャッチコピー</p>",
        "info": "改行：Shift 押しながら Enter"
    },
    {
        "type": "richtext",
        "id": "about_text",
        "label": "About テキスト",
        "default": "<p>テキスト</p>",
        "info": "改行：Shift 押しながら Enter"
    },
    {
        "type": "image_picker",
        "id": "about_img",
        "label": "About 画像を選択"
    },
    {
        "type": "url",
        "id": "about_url",
        "label": "About 購入はこちら URL"
    },
    {
        "type": "richtext",
        "id": "createbetterfoam_heading",
        "label": "Create better foam 見出し",
        "default": "<h2>見出し</h2>",
        "info": "改行：Shift 押しながら Enter"
    },
    {
        "type": "liquid",
        "id": "createbetterfoam_howto",
        "label": "Create better foam How to コンテンツ",
        "info": "Liquidコード含むHTML"
    },
    {
        "type": "video_url",
        "id": "createbetterfoam_video",
        "label": "Create better foam YouTube動画URL",
        "accept": [
          "youtube"
        ]
    },
    {
        "type": "url",
        "id": "createbetterfoam_url",
        "label": "Create better foam 購入はこちら URL"
    },
    {
        "type": "richtext",
        "id": "recipe_heading",
        "label": "Recipe 見出し",
        "default": "<h2>見出し</h2>",
        "info": "改行：Shift 押しながら Enter"
    },
    {
        "type": "liquid",
        "id": "recipe_recipe",
        "label": "Recipe レシピコンテンツ",
        "info": "Liquidコード含むHTML"
    },
    {
        "type": "richtext",
        "id": "recipe-reator_heading",
        "label": "Recipe Creator 見出し",
        "default": "<h3>見出し</h3>",
        "info": "改行：Shift 押しながら Enter"
    },
    {
        "type": "liquid",
        "id": "recipe-reator_content",
        "label": "Recipe Creator プロフィール",
        "info": "Liquidコード含むHTML"
    },
    {
        "type": "url",
        "id": "recipe-reator_url",
        "label": "Recipe Creator 購入はこちら URL"
    },
    {
        "type": "richtext",
        "id": "faq_heading",
        "label": "Faq 見出し",
        "default": "<h2>見出し</h2>",
        "info": "改行：Shift 押しながら Enter"
    },
    {
        "type": "liquid",
        "id": "faq_content",
        "label": "Faq コンテンツ",
        "info": "Liquidコード含むHTML"
    },
    {
        "type": "richtext",
        "id": "shop-now_heading",
        "label": "Shop now 見出し",
        "default": "<h2>見出し</h2>",
        "info": "改行：Shift 押しながら Enter"
    },
    {
        "type": "product",
        "id": "shop-now_product",
        "label": "Shop now 商品を選択"
    },
    {
        "type": "url",
        "id": "shop-now_url-01",
        "label": "Shop now 商品ページを見る URL"
    },
    {
        "type": "url",
        "id": "shop-now_url-02",
        "label": "Shop now カートに入れる URL"
    },
    {
        "type": "richtext",
        "id": "contact_heading",
        "label": "Contact 見出し",
        "default": "<h2>見出し</h2>",
        "info": "改行：Shift 押しながら Enter"
    },
    {
        "type": "liquid",
        "id": "contact_text",
        "label": "Contact テキスト",
        "info": "Liquidコード含むHTML"
    },
    {
        "type": "url",
        "id": "contact_url",
        "label": "Contact お問い合わせ URL"
    }
  ],
}
{% endschema %}