{%- comment -%}
  moromisu.css は main-page-moromisu.liquid で読み込んでいます
{%- endcomment -%}
<style>
  #shopify-section-{{ section.id }} {
    background: url('{{ 'moromisu-material-bg-body.png' | asset_url }}') repeat center center;
  }
  .c-column {
    background: url('{{ 'moromisu-bg.png' | asset_url }}') repeat center center;
  }
  .c-column__label {
    background: url('{{ 'moromisu-circle.png' | asset_url }}') no-repeat top center;
    background-size: contain;
  }
</style>

<section class="c-column">
  <div class="c-column__header">
    <div class="c-column__label">
      <svg xmlns="http://www.w3.org/2000/svg" width="85" height="21" viewBox="0 0 85 21" fill="none">
        <g clip-path="url(#clip0_1_1046)">
          <path d="M5.13995 7.88047C5.05995 7.58047 4.87995 7.20047 4.60995 6.97047C4.46995 6.85047 4.04995 6.55047 3.36995 6.72047C2.81995 6.86047 2.53995 7.18047 2.38995 7.49047C2.15995 8.00047 2.26995 8.54047 2.39995 9.05047L4.26995 16.4005C4.38995 16.8905 4.50995 17.3405 4.87995 17.6505C5.07995 17.8305 5.50995 18.0605 6.09995 17.9105C6.56995 17.7905 6.98995 17.5005 7.15995 17.1005C7.22995 16.9205 7.32995 16.5305 7.15995 15.8105L7.01995 15.2805L9.14995 14.7405L9.30995 15.3605C9.67995 16.8305 9.38995 17.8105 9.10995 18.3205C8.78995 18.9205 8.03995 19.6605 6.56995 20.0305C5.15995 20.3905 4.20995 20.0205 3.59995 19.5805C2.59995 18.8805 2.36995 17.8505 2.16995 17.0805L0.19995 9.34047C-0.0500497 8.36047 -0.20005 7.22047 0.54995 6.14047C1.05995 5.38047 1.96995 4.85047 2.75995 4.65047C3.64995 4.42047 4.78995 4.50047 5.57995 4.95047C6.24995 5.35047 6.89995 6.13047 7.16995 7.18047L7.42995 8.20047L5.35995 8.73046L5.13995 7.88047Z" fill="#8B5A2B"/>
          <path d="M14.66 6.40009C14.49 5.25009 14.4 4.12009 15.3 2.99009C15.86 2.28009 16.7 1.78009 17.83 1.61009C18.96 1.44009 19.91 1.67009 20.65 2.18009C21.84 3.00009 22.1 4.10009 22.27 5.25009L23.36 12.4701C23.53 13.6201 23.62 14.7501 22.72 15.8801C22.16 16.5901 21.32 17.0901 20.19 17.2601C19.06 17.4301 18.11 17.2001 17.36 16.6901C16.17 15.8701 15.91 14.7701 15.74 13.6201L14.65 6.40009H14.66ZM20.05 5.25009C19.98 4.79009 19.87 4.34009 19.39 3.99009C19.11 3.79009 18.69 3.65009 18.15 3.73009C17.61 3.81009 17.24 4.07009 17.04 4.34009C16.69 4.82009 16.71 5.28009 16.78 5.74009L17.97 13.6201C18.04 14.0801 18.15 14.5301 18.63 14.8801C18.91 15.0801 19.33 15.2201 19.87 15.1401C20.41 15.0601 20.78 14.8001 20.98 14.5301C21.33 14.0501 21.31 13.5901 21.24 13.1301L20.05 5.25009Z" fill="#8B5A2B"/>
          <path d="M31.8904 0.330078L32.6204 13.6201L37.2804 13.3601L37.3904 15.4501L30.5304 15.8301L29.6904 0.450078L31.8904 0.330078Z" fill="#8B5A2B"/>
          <path d="M45.26 0.0697656L44.89 11.7498C44.86 12.8098 45.34 13.5498 46.31 13.5798C47.28 13.6098 47.81 12.8998 47.84 11.8498L48.21 0.169766L50.41 0.239766L50.05 11.5898C49.94 14.9798 47.89 15.7898 46.24 15.7398C44.59 15.6898 42.6 14.7398 42.7 11.3598L43.06 0.00976562L45.26 0.0797656V0.0697656Z" fill="#8B5A2B"/>
          <path d="M58.6795 0.860352L60.8595 1.17035L62.6795 10.0104H62.7695L66.8095 2.02035L68.9895 2.33035L66.8295 17.5804L64.6495 17.2704L65.9995 7.73035L65.8895 7.71035L62.6295 14.2704L61.4695 14.1104L60.1595 6.90035L60.0495 6.88035L58.6995 16.4204L56.5195 16.1104L58.6795 0.860352Z" fill="#8B5A2B"/>
          <path d="M79.3103 4.56953L80.4403 14.8595L82.8603 5.48953L84.9903 6.03953L81.1303 20.9495L79.0003 20.3995L77.8703 10.1095L75.4503 19.4795L73.3203 18.9295L77.1803 4.01953L79.3103 4.56953Z" fill="#8B5A2B"/>
        </g>
        <defs>
          <clipPath id="clip0_1_1046">
            <rect width="85" height="20.96" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="c-column__dots">
      <span class="c-column__dot"></span>
      <span class="c-column__dot"></span>
      <span class="c-column__dot"></span>
    </div>
    <h2 class="c-column__title">コラム</h2>
    <p class="c-column__desc">
      商品にまつわるお話や、<br>
      毎日に寄り添うもろみ酢の知恵をお届けします。
    </p>
  </div>

  <div class="c-column__cards">
    {% capture article1_content %}
      <h3 class="c-column__card-title">
        もろみ酢の美味しい飲み方6選！<br>
        マニアおすすめのアレンジを紹介
      </h3>
      <div class="c-column__card-img">
        {% if section.settings.card_1_image != blank %}
          {{ section.settings.card_1_image | image_url: width: 900 | image_tag: loading: 'lazy' }}
        {% endif %}
      </div>
      <p class="c-column__card-desc">
        お湯割り・炭酸割り・はちみつアレンジなど、<br class="only-pc">
        もろみ酢を無理なく楽しめる飲み方をご紹介
      </p>
    {%  endcapture %}
    {%  if section.settings.card_1_link != blank %}
      <a href="{{- section.settings.card_1_link -}}" class="c-column__card">
        {{ article1_content }}
      </a>
    {%  else %}
      <article class="c-column__card">
        {{ article1_content }}
      </article>
    {%  endif %}


    {% capture article2_content %}
      <h3 class="c-column__card-title">
        もろみ酢と黒酢の違いって何？<br>
        6つの違いを徹底比較！
      </h3>
      <div class="c-column__card-img">
        {% if section.settings.card_2_image != blank %}
          {{ section.settings.card_2_image | image_url: width: 900 | image_tag: loading: 'lazy' }}
        {% endif %}
      </div>
      <p class="c-column__card-desc">
        名前は似ているけれど、味も成分も異なります。<br class="only-pc">
        初めての方にもわかりやすく、その違いを...
      </p>
    {%  endcapture %}

    {%  if section.settings.card_2_link != blank %}
      <a href="{{- section.settings.card_2_link -}}" class="c-column__card">
        {{ article2_content }}
      </a>
    {%  else %}
      <article class="c-column__card">
        {{ article2_content }}
      </article>
    {%  endif %}
  </div>
</section>

{% schema %}
{
  "name": "Moromisu Column",
  "class": "shopify-section--main-page-moromisu",
  "settings": [
    {
      "type": "paragraph",
      "content": "もろみ酢LPページでの利用を想定しています"
    },
    {
      "type": "image_picker",
      "id": "card_1_image",
      "label": "カード1 画像"
    },
    {
      "type": "url",
      "id": "card_1_link",
      "label": "カード1 link"
    },
    {
      "type": "image_picker",
      "id": "card_2_image",
      "label": "カード2 画像"
    },
    {
      "type": "url",
      "id": "card_2_link",
      "label": "カード2 link"
    }
  ],
  "presets": [
    {
      "name": "Moromisu Column"
    }
  ]
}
{% endschema %}
